body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  margin-top: 50px;
}

.container {
  background: white;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  border: 2px solid lightgray;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid lightgray;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: rgb(151, 194, 229);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}